{% extends 'nav.html' %}
{% load static %}
{% block content %}
<head>
    <title>Product Details</title>
<head>
<h2>Products</h2>
<div class="item-list">
    <ul class="product_list">     
            <h2 class="product_name">{{ product.name }}</h2>
            <img class="product_img"src="{{ product.image.url }}" alt="{{ product.name }}">
            <p>Price: {{ product.price }}</p>
            <p>Quality: {{ product.quality }}</p>
            <p>Amount: {{ product.amount }}</p>
            <p>Seller Name:{{ product.seller_name }}</p>
            <p>Seller Contact:{{ product.seller_contact }}</p>
            <p>Seller Address:{{ product.seller_address }}</p>
    </ul>
</div>
{% endblock %}
